div{
    margin: 10px;
    widht: 200px;
    height: 200px;
}
#centered_small_icon{
    background-size    : 20px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : darkblue;
    background-repeat: no-repeat;
}
#green_line{
    background-size    : 140px;
    background-position: center;
    background-color   : green;
    background-repeat: no-repeat;
}
#full_width_icon{
    background-size    : 140px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : red;
    background-repeat: no-repeat;
    background-size: cover;
}
#repeated_icon{
    background-size    : 140px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : gold;
    background-repeat: no-repeat;
}
