#figure1{
    border: 1px solid black;
    height: 100px;
    width: 150px;
}
#figure2{
     border: 3px solid black;
    padding: 10px;
     height: 50px;
     width: 3000px;
 }
#figure3{
    margin: 10px;
    border: 1px solid pink;
}
#figure4{
    border-radius: 5px;
    border: 2px solid deepskyblue;
    height: 100px;
    width: 50%;
}
#figure5{
    border: 1px solid black;
    padding-left: 15px ;
}
#figure6{
    border: 2px solid black;
    margin-left: 15px;
}
#figure7{
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid deepskyblue;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}